.week {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 84vh;
  max-height: 84vh;
  overflow: auto;
}

.week-time {
  flex: 0.5;
}

.week-column {
  flex: 1;
  border-left: 1px solid rgb(230, 230, 230);
}

.week-hour {
  min-height: 8vh;
  border-top: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
}

.week-hour-title {
  position: relative;
  min-height: 8vh;
}

.week-hour-title span {
  position: absolute;
  right: 0;
  padding-right: 4px;
  font-size: 0.75rem;
  bottom: -10px;
  color: rgb(123, 123, 123);
  font-weight: 400;
}

.week-column.sunday, .week-column.sunday .week-hour {
  background-color: rgb(245, 245, 245);
  color: rgb(123, 123, 123);
}

.week-helper-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.week-helper-row > div {
  padding: 4px 8px;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
}

.week-helper-row > div.week-time {
  flex: 0.5;
}

.week-helper-row > div.sunday {
  color: rgb(123, 123, 123);
}
