.week {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 84vh;
  max-height: 84vh;
  overflow: auto;
  position: relative;
}

.week-time {
  flex: 0.5;
}

.week-column {
  flex: 1;
}

.week-hour {
  min-height: 8vh;
  border-top: 1px solid var(--bordergrey);
  border-right: 1px solid var(--bordergrey);
  box-sizing: border-box;
}

.week-hour.sunday {
  background: var(--lightgrey);
}

.week-hour-title {
  position: relative;
  min-height: 8vh;
}

.week-full-day {
  min-height: 5vh;
}

.week-hour-title:first-of-type {
  border-top: 1px solid var(--bordergrey);
}

.week-hour-title span {
  position: absolute;
  right: 0;
  padding-right: 4px;
  font-size: 0.75rem;
  bottom: -10px;
  color: var(--tabbtntext);
  font-weight: 400;
}

.week-column.sunday, .week-column.sunday .week-hour {
  background-color: var(--lightgrey);
  color: var(--tabbtntext);
}

.week-helper-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.week-helper-row > div {
  padding: 4px 8px;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
}

.week-helper-row > div.week-time {
  flex: 0.5;
}

.week-helper-row > div.sunday {
  color: var(--tabbtntext);
}

.week-helper-row-date {
  margin-left: .3rem;
}

.all-day-line {
  position: absolute;
  width: calc(98vw);
  border-bottom:3px solid var(--bordergrey);
  top: 1vh;
  left: 2vw;
  box-sizing: border-box;
}

.all-day-line span {
  font-size: 0.75rem;
  padding-left: 24px;
  color: var(--tabbtntext);
  font-weight: 500;
}

.curr-time-red-line {
  position: absolute;
  width: calc(96vw);
  border-bottom: 1px solid var(--red);
  left: 4.5vw;
  box-sizing: border-box;
  z-index: 10;
}

.curr-time-red-line span {
  position: absolute;
  color: var(--red);
  font-size: 0.65rem;
  top: -.5rem;
  background: var(--white);
  padding-right: 4px;
  left: -1.25rem;
  font-weight: 700;
}
