.year-wrapper {
  height: 84vh;
  max-height: 84vh;
}

.year-row {
  display: flex;
}

.year-row > div {
  flex: 1;
  padding: .5rem 1.5rem .9rem;
}

.year-row-month-name {
  color: var(--red);
  font-weight: 500;
  font-size: 1.25rem;
  padding-left: .85rem;
}

.week-days-row {
  margin-top: .5rem;
  margin-bottom: .45rem;
  display: flex;
  box-sizing: border-box;
  font-weight: 500;
  color: var(--tabbtntext);
}

.week-days-row > div, .year-day-row > div {
  flex: 1;
  text-align: center;
}

.year-day-row {
  display: flex;
  margin-bottom: .11rem;
}

.year-day-row > div,  .week-days-row {
  font-size: .85rem;
  font-weight: 700;
}
.year-day-row .sunday {
  color: var(--lightergrey);
}

.prev-next {
  color: var(--lghtshadegrey);
}

.today-year {
  background: var(--red);
  color: var(--white);
  border-radius: 50%;
  padding: 2px 8px;
}
